# Database Setup
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
DATABASE_URL=postgresql://postgres_user:password@localhost/db_name

# Django setups
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1, server-name
SECRET_KEY=secret_key
